body {
	background-color: #0C1027;
}

.ham {
	display: none;
	position: absolute;
	right: 20px;
	top: 110px;
	color: white;
}

.ham-list {
	position: absolute;
	z-index: 50;
	display: flex;
	right: 0px;
	height: 0px;
	width: 0px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

#ham-list:target {
	height: auto;
	width: 300%;
	right: 0px;
	padding: 0px 10px;
	transition: all 1s ease-in-out;
}

.list-s {
	display: none;
}
.list-a {
	display: none;
}
.list-f {
	display: none;
}

.content-list {
	width: 100%;
	height: 100%;
}

.ham-list a {
	color: black;
	text-decoration: none;
}

.scroll::-webkit-scrollbar {
	width: 6px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #0C1027; 
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #101642; 
  border-radius: 15px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #93A8B3;
 }

.scroll-1::-webkit-scrollbar-track {
  background: #101642; 
}

.scroll-1::-webkit-scrollbar-thumb {
  background: #0C1027; 
  border-radius: 15px;
}

.heading {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 2rem;
}


/*Header Section*/

header {
	width: 94%;
	margin-left: 3%;
	margin-top: 50px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.inb {
	display: inline-block;
	vertical-align: top;
}

/*LOGO*/

#logo {
	position: relative;
	width: 20%;
	height: 150px;
	min-width: 300px; !important
}

#logo-name {
	font-size: 2rem;
	position: absolute;
	top: 35px;
	padding-left: 10px;
}

/*Favourite*/

#head-fav {
	width: 35%;
	height: 150px;
	font-size: 1.6rem;
}

#fav {
	position: relative;
	top: 50px;
}

#fav a {
	color: white;
	text-decoration: underline;
	text-decoration-color: #0C1027;
}

#fav a:hover {
	text-decoration-color: white;
	transition: all 0.5s linear;
}

/*Search*/

#search {
	width: 25%;
	height: 150px;
	min-width: 400px;
}

#search-btn i{
	font-size: 2rem;
	color: white;
}

#search-btn {
	position: relative;
	top: 45px;
	border: none;
	padding: 10px 10px 10px 10px;
	background-color: #12193E;
	border-radius: 15px 0px 0px 15px;
}

#search input {
	background-color: #12193E;
	position: relative;
	margin-left: -4px;
	top: 43px;
	border: none;
	font-size: 1.6rem;
	width: 70%;
	padding: 11px 10px 10px 10px;
}

#search-voice {
	position: relative;
	top: 45px;
	border: none;
	background-color: #12193E;
	padding: 10px 10px 10px 10px;
	margin-left: -4px;
	border-radius: 0px 15px 15px 0px;
}

#search-voice i {
	font-size: 2rem;
	color: #93A8B3;
}

#search input {
	color: white;
	font-family: 'Montserrat', sans-serif;
}


/*Alert*/

#alert {
	height: 150px;
	width: 9%;
	min-width: 100px;
}

#alert a {
	color: white;
}

#alert i {
	position: relative;
	top: 35%;
	left: 35%;
	font-size: 2.5rem;
}

/*Profile*/

#profile {
	position: relative;
	height: 150px;
	width: 9%;
	min-width: 150px;
}

.profile-img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;
	top: 25%;
	left: 25%;
}

.profile-menu {
	background-color: white;
	display: none;
	position: absolute;
	top: 120px;
	left: 10px;
	width: 150px;
	z-index: 10;
}

.profile-menu a{
	color: black;
	text-decoration: none;
}

.profile-menu p {
	padding: 1px 0px 0px 15px;
}

#profile:hover .profile-menu {
	display: block;
}

.profile-menu a:hover {
	text-decoration: underline;
}


main {
	width: 84%;
	margin-top: 20px;
	margin-left: 8%;
}

section {
	width: 70%;
	color: white;
}

aside {
	position: relative;
	width: 29%;
	font-family: 'Montserrat', sans-serif;
}

/*Section*/

/*Artist*/

.artist {
	width: 100%;
	height: 450px;
	position: relative;
	background-color: #141B41;
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	overflow-y: hidden; 
}

.artist img {
	height: 100%;
}

.artist-shadow {
	position: absolute;
	height: 450px;
	width: 450px;
	box-shadow: 0px 0px 20px 15px #141B41 inset;
	top: 0px;
}

.artist-detail {
	display: inline-block;
	position: absolute;
	height: 85%;
	padding: 30px;
	width: 50%;
	min-width: 550px;
}

.artist h1 {
	letter-spacing: 3px;
}

.artist-follower {
	position: absolute;
	right: 10px;
	top: 70px;
	color: lightgrey;
}

.artist-info {
	color: lightgrey;
}

.artist-info p {
	font-size: 0.9rem;
}

.artist-info button {
	font-size: 1rem;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	width: 150px;
	letter-spacing: 2px;
	border: none;
	color: white;
	background-image: linear-gradient(to right, #6708d3, #ad13ef);
}

.artist-info a {
	color: white;
	text-decoration: none;
}

.artist-song {
	margin-top: 20px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.song {
	position: relative;
	height: 70px;
	width: 100%;
	margin: 5px 0px;
	padding: 10px 0px;
	background-color: #1F223D;
}
 
.song img {
	height: 70px;
	width: 70px;
	border-radius: 5px;
}

.song-index {
	padding: 0px 10px;
	position: relative;
	top: 40%;
}

.song-detail {
	margin: 0px 10px;
}

.song-like {
	position: absolute;
	top: 35%;
	right: 30px;
	font-size: 1.5rem;
	color: grey;
}

.song-drop {
	display: none;
	position: absolute;
	top: 100%;
	width: 125px;
	right: 0px;
	background-color: white;
	padding: 0px 10px;
	font-size: 1rem;
}

.song-drop a {
	color: black;
	text-decoration: none;
}

.plus:hover .song-drop {
	display: block;
	z-index: 10;
}

.song-play {
	display: none;
	position: absolute;
	top: 35%;
	font-size: 1.5rem;
	left: 65px;
}

.song-play a {
	color: white;
}

.song:hover img {
	filter: blur(4px);
}

.song:hover .song-play {
	display: block;
}

/*Aside Section*/
/*Similar Artist*/

.s-artist {
	color: white;
	position: relative;
	width: 90%;
	margin-left: 10%;
}

.s-artist a {
	color: white;
}

.view {
	position: absolute;
	right: 0px;
	top: 15px;
}

.view a {
	color: lightgrey;
	text-decoration: none;
}

.s-artist-song {
	position: relative;
	width: 100%;
	height: 150px;
}

.s-artist-background {
	position: absolute;
	margin: 15px;
	height: 120px;
	width: 120px;
	filter: blur(15px);
	background-image: url(Image/song.jpg);
}

.s-artist img {
	position: absolute;
	height: 120px;
	width: 120px;
	margin: 15px;
	z-index: 10;
}

.s-artist-detail {
	position: absolute;
	left: 150px;
	top: 30px;
}

.s-artist-drop {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 1.5rem;
	z-index: 30;
}

.drop-detail {
	display: none;
	position: absolute;
	right: 0px;
	padding-left: 15px;
	width: 130px;
	font-size: 1rem;
	background: white;
}

.drop-detail a {
	color: black;
	text-decoration: none;
}

.s-artist-drop:hover .drop-detail {
	display: block;
}

.s-artist-play {
	display: none;
	font-size: 2rem;
	position: absolute;
	left: 62px;
	top: 55px;
	z-index: 20;
}

.s-artist-song:hover .s-artist-play {
	display: block;
}

.s-artist-song:hover img {
	filter: blur(5px);
}

/*Recently Played*/

.r-played {
	position: relative;
	width: 90%;
	margin-left: 10%;
}

.r-played a {
	color: white;
}

.r-played-song {
	position: relative;
	height: 80px;
	width: 99%;
	margin: 5px 0px;
}

.played-index {
	position: absolute;
	top: 30px;
	color: #93A8B3;
	left: 10px;
}

.r-played-song img {
	position: absolute;
	top: 10px;
	left: 40px;
	height: 60px;
	width: 60px;
}

.played-details {
	position: absolute;
	left: 110px;
	top: 20px;
}

.played-like {
	position: absolute;
	right: 10px;
	top: 30px;
	color: grey;
}

/*Footer*/

footer {
	display: none;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background-color: #333333;
	font-family: 'Montserrat', sans-serif;
	color: white;
	z-index: 50;
}

.audio {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 50%;
}

.foot-song {
	position: absolute;
	top: 10px;
	left: 50px;
	height: 80px;
}

footer img {
	height: 80px;
	width: 80px;
}

.foot-detail {
	position: absolute;
	top: 0px;
	width: 300px;
	left: 100px;
}

.foot-like {
	position: absolute;
	color: grey;
	top: 15px;
	right: 10px;
	font-size: 1.3rem;
}

#footer:target {
	display: block;
}

#footer a {
	color: lightgrey;
}

.close i {
	font-size: 1.5rem;
}

.close {
	position: absolute;
	right: 20px;
	top: 10px;
}

.audio {
	z-index: 10;
	color: lightgrey;
	font-size: 2.5rem;
	left: 450px;
	height: 70px;
	width: 50%;
}

@keyframes song-play {
	from {
		width: 0%;
	}
	to {
		width: 80%;
	}
} 

.length {
	position: absolute;
	bottom: 10px;
	border-radius: 5px;
	width: 80%;
	margin-left: 10%;
	height: 7px;
	background-color: #1de04d;
	z-index: 10;
	animation: song-play 10s linear;
}

.back-length {
	position: absolute;
	bottom: 10px;
	border-radius: 5px;
	width: 80%;
	margin-left: 10%;
	height: 7px;
	background-color: grey;
}

.widget i {
	position: absolute;
	top: 30px;
	font-size: 1.5rem;
}


@media only screen and (max-width: 680px) {
	#head-fav {
		display: none;
	}

	.list-f {
		display: block;
	}

	.foot-detail {
		width: 200px;
	}

	.widget i {
		top: 60px;
	}
}

@media only screen and (max-width: 768px) {
	
	#alert {
		display: none;
	}

	.list-a {
		display: block;
	}

	#head-fav {
		width: auto;
	}
}

@media only screen and (max-width: 1000px) {
	aside {
		display: none;
	}

	.s-artist {
		display: none;
	}

	.r-played {
		display: none;
	}

	section {
		width: 100%;
		height: auto;
	}

	#head-fav {
		width: auto;
	}

	footer {
		height: 200px;
	}

	.audio {
		top: 100px;
		left: 50px;
		width: 90%;
	}
}

@media only screen and (max-width: 1350px) {
	#search {
		display: none;
	}

	.ham {
		display: block;
	}

	.list-s {
		display: block;
	}

	.artist img {
		display: none;
	}
}

@media only screen and (max-width: 1730px) {
	#head-fav {
		width: 20%;
	}
}








